<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">
  <title>Form Advanced Elements | Remark Admin Template</title>
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/global/css/bootstrap.min.css">
  <link rel="stylesheet" href="/global/css/bootstrap-extend.min.css">
  <link rel="stylesheet" href="/assets/css/site.min.css">
  <!-- Plugins -->
  <link rel="stylesheet" href="/global/vendor/animsition/animsition.css">
  <link rel="stylesheet" href="/global/vendor/asscrollable/asScrollable.css">
  <link rel="stylesheet" href="/global/vendor/switchery/switchery.css">
  <link rel="stylesheet" href="/global/vendor/intro-js/introjs.css">
  <link rel="stylesheet" href="/global/vendor/slidepanel/slidePanel.css">
  <link rel="stylesheet" href="/global/vendor/flag-icon-css/flag-icon.css">
  <link rel="stylesheet" href="/global/vendor/select2/select2.css">
  <!-- <link rel="stylesheet" href="/global/vendor/bootstrap-tokenfield/bootstrap-tokenfield.css">
  <link rel="stylesheet" href="/global/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css"> -->
  <link rel="stylesheet" href="/global/vendor/bootstrap-select/bootstrap-select.css">
  <link rel="stylesheet" href="/global/vendor/icheck/icheck.css">
  <link rel="stylesheet" href="/global/vendor/switchery/switchery.css">
  <link rel="stylesheet" href="/global/vendor/asrange/asRange.css">
  <link rel="stylesheet" href="/global/vendor/asspinner/asSpinner.css">
  <link rel="stylesheet" href="/global/vendor/clockpicker/clockpicker.css">
  <link rel="stylesheet" href="/global/vendor/ascolorpicker/asColorPicker.css">
  <link rel="stylesheet" href="/global/vendor/bootstrap-touchspin/bootstrap-touchspin.css">
  <link rel="stylesheet" href="/global/vendor/card/card.css">
  <link rel="stylesheet" href="/global/vendor/jquery-labelauty/jquery-labelauty.css">
  <link rel="stylesheet" href="/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/global/vendor/bootstrap-maxlength/bootstrap-maxlength.css">
  <link rel="stylesheet" href="/global/vendor/jt-timepicker/jquery-timepicker.css">
  <link rel="stylesheet" href="/global/vendor/jquery-strength/jquery-strength.css">
  <link rel="stylesheet" href="/global/vendor/multi-select/multi-select.css">
  <link rel="stylesheet" href="/global/vendor/typeahead-js/typeahead.css">
  <link rel="stylesheet" href="/assets/examples/css/forms/advanced.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="/global/fonts/web-icons/web-icons.min.css">
  <link rel="stylesheet" href="/global/fonts/brand-icons/brand-icons.min.css">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.min.css"/>
  <!-- <link rel="stylesheet" href="../../../global/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css"> -->

  <!--[if lt IE 9]>
  <script src="/global/vendor/html5shiv/html5shiv.min.js"></script>
  <![endif]-->
  <!--[if lt IE 10]>
  <script src="/global/vendor/media-match/media.match.min.js"></script>
  <script src="/global/vendor/respond/respond.min.js"></script>
  <![endif]-->
  <!-- Scripts -->
  <script src="/global/vendor/modernizr/modernizr.js"></script>
  <script src="/global/vendor/breakpoints/breakpoints.js"></script>
  <script>
  Breakpoints();
  </script>
</head>
<body class="dashboard">
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
      data-toggle="menubar">
      <span class="sr-only">Toggle navigation</span>
      <span class="hamburger-bar"></span>
    </button>
    <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
    data-toggle="collapse">
    <i class="icon wb-more-horizontal" aria-hidden="true"></i>
  </button>
  <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
    <img class="navbar-brand-logo" src="../assets/images/logo.png" title="Remark">
    <span class="navbar-brand-text"> Matcha</span>
  </div>
  <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
  data-toggle="collapse">
  <span class="sr-only">Toggle Search</span>
  <i class="icon wb-search" aria-hidden="true"></i>
</button>
</div>
<div class="navbar-container container-fluid">
  <!-- Navbar Collapse -->
  <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
    <!-- Navbar Toolbar -->
    <ul class="nav navbar-toolbar">
      <!-- <li class="hidden-float" id="toggleMenubar">
        <a data-toggle="menubar" href="#" role="button">
          <i class="icon hamburger hamburger-arrow-left">
            <span class="sr-only">Toggle menubar</span>
            <span class="hamburger-bar"></span>
          </i>"/global/portraits/client.png"
        </a>
      </li> -->


    </ul>
    <!-- End Navbar Toolbar -->
    <!-- Navbar Toolbar Right -->
    <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
      <li class="dropdown">
        <a onclick="test2()" class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
        data-animation="scale-up" role="button">
        <span class="avatar">
          <img id="photo_profil" src="/global/portraits/client.png" alt="...">
          <!-- "/global/portraits/5.jpg" -->
          <!-- <i></i> -->
        </span>
      </a>
    </li>
    <li class="dropdown">
      <!-- <div class="icondemo vertical-align-middle">
      <i class="icon wb-power" aria-hidden="true"></i>
    </div> -->
    <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
    data-animation="scale-up" role="button">
    <div id="signout" class="icondemo vertical-align-middle">
      <i class="icon wb-power" aria-hidden="true"></i>
    </div>
  </a>
</li>

</ul>
<!-- End Navbar Toolbar Right -->
</div>
<!-- End Navbar Collapse -->
<!-- Site Navbar Seach -->
<div class="collapse navbar-search-overlap" id="site-navbar-search">
  <form role="search">
    <div class="form-group">
      <div class="input-search">
        <i class="input-search-icon wb-search" aria-hidden="true"></i>
        <input type="text" class="form-control" name="site-search" placeholder="Search...">
        <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
        data-toggle="collapse" aria-label="Close"></button>
      </div>
    </div>
  </form>
</div>
<!-- End Site Navbar Seach -->
</div>
</nav>
<div class="site-menubar">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu">
          <li class="site-menu-category">General</li>
          <li class="site-menu-item has-sub" id="discover">
            <a href="javascript:void(0)">
              <i class="site-menu-icon wb-library" aria-hidden="true"></i>
              <span class="site-menu-title">Discover</span>
              <!-- <div class="site-menu-badge">
              <span class="badge badge-success">3</span>
            </div> -->
            <!-- <span class="site-menu-arrow"></span> -->
          </a>
          <!-- <ul class="site-menu-sub">
          <li class="site-menu-item active">
          <a class="animsition-link" href="index.html">
          <span class="site-menu-title">Dashboard v1</span>
        </a>
      </li>
      <li class="site-menu-item">
      <a class="animsition-link" href="dashboard/v2.html">
      <span class="site-menu-title">Dashboard v2</span>
    </a>
  </li>
  <li class="site-menu-item">
  <a class="animsition-link" href="dashboard/ecommerce.html">
  <span class="site-menu-title">Ecommerce</span>
</a>
</li>
<li class="site-menu-item">
<a class="animsition-link" href="dashboard/analytics.html">
<span class="site-menu-title">Analytics</span>
</a>
</li>
<li class="site-menu-item">
<a class="animsition-link" href="dashboard/team.html">
<span class="site-menu-title">Team</span>
</a>
</li>
</ul> -->
</li>
<!-- <li class="site-menu-item has-sub">
<a href="javascript:void(0)">
<i class="site-menu-icon wb-library" aria-hidden="true"></i>
<span class="site-menu-title">Discover</span>
<span class="site-menu-arrow"></span>
</a>
</li> -->
<li class="site-menu-item has-sub">
  <a href="javascript:void(0)">
    <i class="site-menu-icon wb-chat-text" aria-hidden="true"></i>
    <span class="site-menu-title">Messages</span>
    <!-- <span class="site-menu-arrow"></span> -->
  </a>
</li>
<li class="site-menu-item has-sub" id="likedyou">
  <a href="javascript:void(0)">
    <i class="site-menu-icon wb-heart" aria-hidden="true"></i>
    <span class="site-menu-title">Liked you</span>
    <!-- <span class="site-menu-arrow"></span> -->
  </a>
</li>
<li class="site-menu-item has-sub" id="visitor">
  <a href="javascript:void(0)">
    <i class="site-menu-icon wb-eye" aria-hidden="true"></i>
    <span class="site-menu-title">Visitors</span>
    <!-- <span class="site-menu-arrow"></span> -->
  </a>
</li>
<li class="site-menu-item has-sub" id="search">
  <a href="javascript:void(0)">
    <i class="site-menu-icon wb-search" aria-hidden="true"></i>
    <span class="site-menu-title">research</span>
    <!-- <span class="site-menu-arrow"></span> -->
  </a>
</li>
<!-- <li class="site-menu-item has-sub">
<a href="javascript:void(0)">
<i class="site-menu-icon wb-star" aria-hidden="true"></i>
<span class="site-menu-title">Favorites</span>
<span class="site-menu-arrow"></span>
</a>
</li>
<li class="site-menu-item has-sub">
<a href="javascript:void(0)">
<i class="site-menu-icon wb-envelope" aria-hidden="true"></i>
<span class="site-menu-title">Invite Friends</span>
<span class="site-menu-arrow"></span>
</a>
</li> -->

<div class="site-menubar-section">
  <h5>
    Popularity
    <span class="pull-right">60%</span>
  </h5>
  <div class="progress progress-xs">
    <div class="progress-bar progress-bar-warning" style="width: 60%;" role="progressbar"></div>
  </div>
</div>
</div>
</div>
</div>
<!-- <div class="site-menubar-footer">
  <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
  data-original-title="Settings">
  <span class="icon wb-settings" aria-hidden="true"></span>
</a>
<a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
  <span class="icon wb-eye-close" aria-hidden="true"></span>
</a>
<a href="register" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
  <span class="icon wb-power" aria-hidden="true"></span>
</a>
</div> -->
</div>
<!-- Page -->
<div class="page animsition" style="animation-duration: 800ms; opacity: 1;" id="main">

  <!-- Panel -->
  <!-- <IFRAME src="/profile" ></IFRAME> -->

  <!-- End Panel -->
</div>
<!-- End Page -->

<!-- Footer -->
<footer class="site-footer">
  <div class="site-footer-legal">© 2017 <a href="">Matcha</a></div>
  <div class="site-footer-right">
    Crafted <i class="red-600 wb wb-heart"></i> by <a href="">pboutin</a>
  </div>
</footer>
<!-- Core  -->
<!-- <script src="/global/vendor/jquery/jquery.js"></script> -->
<script src="/socket.io/socket.io.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhMUSGep2jtfHo_jnMhViVj3BDnvwIQEg&libraries=places"></script>

<script>

// function useTemplate(template, id) {
// 	var normalContent = document.getElementById(id);
// 	normalContent.innerHTML = '';
// 	normalContent.appendChild(template);
// 	var arr = template.getElementsByTagName('script')
// 	for (var n = 0; n < arr.length; n++)
// 		eval(arr[n].innerHTML);
// }
console.log("tibolepaf");
var socket = io.connect('http://localhost:8080');
socket.on('connect', function(data) {
  $.ajax({
    url : 'main/connection',
    type : 'GET',
    success : function(code_html, statut){
    //  console.log("ralatif");
    //  console.log(code_html);
    }
  });

  socket.emit('join', 'Hello World from client');
  //  socket.on('pierromoutarde', function(data) {
  //  socket.emit('join', 'Hello World from client');
  console.log("taratata");
  socket.on('toto', function(data) { alert();});
  socket.on('disconnect', function(){
    $.ajax({
      url : 'main/disconnection',
      type : 'GET',
      success : function(code_html, statut){
      //  console.log("ralatif");
      //  console.log(code_html);
      socket.disconnect();
      }
    });
  //  socket.disconnect();
    console.log('user disconnected');
  });

  //  alert();

  console.log("tas de viande");
});
function test1() {
  $("#main").empty();
  $.get("/testFile", function(data) {
    useTemplate(data, "main");
  });
};

function test2() {
  $("#main").empty();
  $.get("/profile", function(data) {
    $("#main").append(data);
  });
};




socket.on('pierromoutarde', function(data) {
  console.log(data)
});
// function initMap() {
//
//
//   var input = document.getElementById('pac-input');
//
//
//   var autocomplete = new google.maps.places.Autocomplete(input);
//
// }
// initMap();

</script>
<!-- Core  -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhMUSGep2jtfHo_jnMhViVj3BDnvwIQEg&libraries=places"></script> -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>

<script src="/global/vendor/bootstrap/bootstrap.js"></script>
<script src="/global/vendor/animsition/animsition.js"></script>
<script src="/global/vendor/asscroll/jquery-asScroll.js"></script>
<script src="/global/vendor/mousewheel/jquery.mousewheel.js"></script>
<script src="/global/vendor/asscrollable/jquery.asScrollable.all.js"></script>
<script src="/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
<!-- Plugins -->
<script src="/global/vendor/switchery/switchery.min.js"></script>
<script src="/global/vendor/intro-js/intro.js"></script>
<script src="/global/vendor/screenfull/screenfull.js"></script>
<script src="/global/vendor/slidepanel/jquery-slidePanel.js"></script>
<script src="/global/vendor/select2/select2.full.min.js"></script>
<script src="/global/vendor/bootstrap-tokenfield/bootstrap-tokenfield.min.js"></script>
<script src="/global/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="/global/vendor/bootstrap-select/bootstrap-select.js"></script>
<script src="/global/vendor/icheck/icheck.min.js"></script>
<script src="/global/vendor/switchery/switchery.min.js"></script>
<script src="/global/vendor/asrange/jquery-asRange.min.js"></script>
<script src="/global/vendor/asspinner/jquery-asSpinner.min.js"></script>
<script src="/global/vendor/clockpicker/bootstrap-clockpicker.min.js"></script>
<script src="/global/vendor/ascolor/jquery-asColor.min.js"></script>
<script src="/global/vendor/asgradient/jquery-asGradient.min.js"></script>
<script src="/global/vendor/ascolorpicker/jquery-asColorPicker.min.js"></script>
<script src="/global/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
<script src="/global/vendor/jquery-knob/jquery.knob.js"></script>
<script src="/global/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="/global/vendor/card/jquery.card.js"></script>
<script src="/global/vendor/jquery-labelauty/jquery-labelauty.js"></script>
<script src="/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="/global/vendor/jt-timepicker/jquery.timepicker.min.js"></script>
<script src="/global/vendor/datepair-js/datepair.min.js"></script>
<script src="/global/vendor/datepair-js/jquery.datepair.min.js"></script>
<script src="/global/vendor/jquery-strength/jquery-strength.min.js"></script>
<script src="/global/vendor/multi-select/jquery.multi-select.js"></script>
<script src="/global/vendor/typeahead-js/bloodhound.min.js"></script>
<script src="/global/vendor/typeahead-js/typeahead.jquery.min.js"></script>
<script src="/global/vendor/jquery-placeholder/jquery.placeholder.js"></script>
<!-- Scripts -->
<script src="/global/js/core.js"></script>
<script src="/assets/js/site.js"></script>
<script src="/assets/js/sections/menu.js"></script>
<script src="/assets/js/sections/menubar.js"></script>
<script src="/assets/js/sections/gridmenu.js"></script>
<script src="/assets/js/sections/sidebar.js"></script>
<script src="/global/js/configs/config-colors.js"></script>
<script src="/assets/js/configs/config-tour.js"></script>
<script src="/global/js/components/asscrollable.js"></script>
<script src="/global/js/components/animsition.js"></script>
<script src="/global/js/components/slidepanel.js"></script>
<script src="/global/js/components/switchery.js"></script>
<script src="/global/js/components/select2.js"></script>
<script src="/global/js/components/bootstrap-tokenfield.js"></script>
<script src="/global/js/components/bootstrap-tagsinput.js"></script>
<script src="/global/js/components/bootstrap-select.js"></script>
<script src="/global/js/components/icheck.js"></script>
<script src="/global/js/components/switchery.js"></script>
<script src="/global/js/components/asrange.js"></script>
<script src="/global/js/components/asspinner.js"></script>
<script src="/global/js/components/clockpicker.js"></script>
<script src="/global/js/components/ascolorpicker.js"></script>
<script src="/global/js/components/bootstrap-maxlength.js"></script>
<script src="/global/js/components/jquery-knob.js"></script>
<script src="/global/js/components/bootstrap-touchspin.js"></script>
<script src="/global/js/components/card.js"></script>
<script src="/global/js/components/jquery-labelauty.js"></script>
<script src="/global/js/components/bootstrap-datepicker.js"></script>
<script src="/global/js/components/jt-timepicker.js"></script>
<script src="/global/js/components/datepair-js.js"></script>
<script src="/global/js/components/jquery-strength.js"></script>
<script src="/global/js/components/multi-select.js"></script>
<script src="/global/js/components/jquery-placeholder.js"></script>
<script src="/assets/examples/js/forms/advanced.js"></script>
<script>

test2();
if(navigator.geolocation)
{
  function showLocation(position)
{
  //  alert('Latitude : '+ position.coords.latitude +' - Longitude : '+ position.coords.longitude);
    $.ajax({
      url : 'https://maps.googleapis.com/maps/api/geocode/json?latlng='+position.coords.latitude+', '+position.coords.longitude+'&key=AIzaSyAhMUSGep2jtfHo_jnMhViVj3BDnvwIQEg',
      type : 'GET',
      // dataType : 'html',
      success : function(code_html, statut){
        console.log("ralatif");
        console.log(code_html);
        $.ajax({
          url : 'main/CurrentPosition',
          type : 'GET',
          data : code_html,
          success : function(code_html, statut){
          //  console.log("ralatif");
          //  console.log(code_html);
          }
        });
      }
    });
}
  var errorHandler;
  navigator.geolocation.getCurrentPosition(showLocation, errorHandler);
}
else
{
  alert('Votre navigateur ne prend malheureusement pas en charge la géolocalisation.');
}
$.ajax({
  url : 'main/popularity',
  type : 'GET',
  success : function(code_html, statut){
    console.log("dio16");
    console.log(code_html[0].popularity);
    console.log(code_html);
    $('.pull-right').html(code_html[0].popularity+"%");
    $(".progress-bar-warning").attr('style', "width : "+code_html[0].popularity+"%")
    $("#photo_profil").attr('src',  code_html[0].email+'/photo1.png')
  //  console.log("ralatif");
  //  console.log(code_html);
  }
});
$('#discover').click(function(){
  $("#main").empty();
  $.get("/discover", function(data) {
    $("#main").append(data);
  });
})
$('#likedyou').click(function(){
  $("#main").empty();
  $.get("/likedyou", function(data) {
    $("#main").append(data);
  });
})

$('#visitor').click(function(){
  $("#main").empty();
  $.get("/visitor", function(data) {
    $("#main").append(data);
  });
})

$('#search').click(function(){
  $("#main").empty();
  $.get("/search", function(data) {
    $("#main").append(data);
  });
})

$('#signout').click(function(){
  //alert("okoko");
  socket.disconnect();

  $.get("/main/signout", function(data) {
    console.log("wofh");
    window.location = "/";
//    $(".dashboard").empty();
  //    $.get("/", function(data) {
  // //     $(".dashboard").append(data);
  //    })
 });
})




</script>
</body>
</html>
