
#title {
    text-align: center; 
}
.block {
    display:block;
width:150px;
line-height:50px;
text-align:center;
position: relative;
margin: auto;
/*vertical-align:middle;
background:url(images/bouton-noir.png) no-repeat;
color:white;
text-decoration:none;*/
}
