<div class="col-lg-3 col-md-6">
  <div class="widget widget-shadow">
    <div class="widget-header bg-green-600 padding-30 white">
      <a class="avatar avatar-100 img-bordered bg-white pull-left margin-right-20" href="javascript:void(0)">
        <img src="../../../global/portraits/11.jpg" alt="">
      </a>
      <div class="vertical-align height-100 text-truncate">
        <div class="vertical-align-middle">
          <div class="font-size-20 margin-bottom-5 text-truncate">Gwendolyn Wheeler</div>
          <div class="font-size-14 text-truncate">Adminnistrator</div>
        </div>
      </div>
    </div>
  </div>
</div>
