<div class="panel">
  <div class="panel-body nav-tabs-animate">
    <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">

      <li class="active" role="presentation"><a data-toggle="tab" href="#profile" aria-controls="profile" role="tab">Profile</a></li>
    </ul>
    <div class="tab-content">

      <div class="active tab-pane animation-slide-left" id="profile" role="tabpanel">
        <div class="example">
          <p class=" col-md-6">sex :</p><select class=" col-md-6">
            <option>man</option>
            <option>woman</option>
            <option>transexual</option>
          </select>
        </div>
        <div class="example">
          <p class=" col-md-6">sexuality :</p><select class=" col-md-6">
            <option>Gay</option>
            <option>Open-minded</option>
            <option>Straight</option>
            <option>Bisexual</option>
          </select>
        </div>
        <div class="example">
          <p class=" col-md-6">current location :</p><input class=" col-md-6">

        </input>
        </div>
        <div class="example">
          <p class=" col-md-12">bio :</p><div class="col-md-12">
            <textarea class="form-control" placeholder="Briefly Describe Yourself"></textarea>
          </div>
        </div>
        <div class="example">
          <p class=" col-md-12">Indiquez vos centres d'interet :</p>
          <select class=" col-md-12" data-plugin="tagsinput" multiple>
            <option value="Amsterdam">Amsterdam</option>
            <option value="Washington">Washington</option>
            <option value="Sydney">Sydney</option>
            <option value="Beijing">Beijing</option>
            <option value="Cairo">Cairo</option>
          </select>
        </div>
        <button type="button" class="btn btn-dark"><i class="icon wb-upload" aria-hidden="true"></i> Upload photos</button>
        <div class="form-group" style="padding-top:1.5cm;">
          <button type="button" class="btn btn-primary">Submit</button>
        </div>




      </div>
    </div>
  </div>
</div>
