
.movie_box {
  text-align: center;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 15px;
  background-color: #FBF9F3;
  margin: 10px;
  display: inline-block;
}

.movie_title {
  font-size: 20px;
}
.movie_img {
  margin: auto;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
